.top_header_button {
    border-radius: 5px;
    width: 20%;
    height: 60px;
    background-color: transparent;
    border: 0px solid #969696;
}
.top_header_button_container {
    display: flex;
    justify-content: center;
    gap: 1%;
}
.element_button_valid {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    width: 60px;
    height: 60px;
}
.element_button_invalid {
    background-color: #969696;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    width: 60px;
    height: 60px;
}
th {
    text-align: center;
}
.delimiter {
    margin: 0 10px; /* 设置分隔符的左右边距 */
}