.perodic-table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #c6c6c6;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 0;
}
/* use whitespace and them td tr to specify the sub element properties */
/* even more: .periodic_table td a, the link in td in table*/
.perodic-table td {
  border: 1px solid #c6c6c6;
  padding: 0;
  margin: 0;
  width: 100px;
  height: 100px;
  vertical-align: middle;
  text-align: center;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}
/* use : to specify motion of element, when mouse hovers on it, change color */
/* .periodic_table td:hover */

.perodic-table_btn {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border-radius: 10%;
  border: 2px solid #2B316B;
  background-color: white;
  color: black;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 0 auto;
  padding: 0;
}

.perodic-table_btn:hover {
    background: #2B316B;
    text-decoration: none;
    color: white;
}

.atomic-symbol {
  font-size: 20px;
  font-weight: bold;
  color: #2B316B;
}

.atomic-mass {
  font-size: 12px;
  font-weight: bold;
  color: #2B316B;
}
